        
<h1>Saved Notes</h1>

    <div class="note">
        <div class="artTitle"><h2>{{arttitle}}</h2></div>
        <div class="notetitle">Title: {{title}}</div>
        <div class="notebody">Content: {{body}}</div>
    </div>
    
<button><a class="btn all" data-id="{{id}}" href="/articles">Back to Articles</a></button>

