<h1>working</h1>
    
        
            <h1>Saved Notes</h1>
            <span class="noteTitle">{{title}}</span>
            <p>{{body}}</p>

            <a href="/delete/note/{{_id}}" class="delete">delete</a>
    
    

